<!--form to edit posts-->
<article>
    <h2 class="mt-3 mb-3">
        Edit Post
    </h2>
    <form class="edit-post-form">
        <div>
            <input name="post-title" class="col-4" style="height: 5rem" name="post-title" type="text" value="{{post.title}}" />
            <input name="post-url" class="post-url col-4" style="height: 5rem" name="url-title" type="text" value="{{post.post_url}}" />
        </div>
        <div>
           <a href="/post/{{post.id}}">Comment(s){{post.comments.length}} </a>
        </div>
        <button type="submit" class="btn btn-outline-secondary btn-light mt-3 mb-3">Save post</button>
        <button type="button" class="delete-post-btn btn btn-outline-secondary btn-light">Delete post</button>
    </form>
</article>

<!--form to make a comments on the edit page-->
<form class="comment-form">
    <div>
        <textarea name="comment-body" class="form-control col-4 mt-3 mb-3" placeholder="write comment here"></textarea>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-secondary btn-light mt-3 mb-3">add comments</button>
    </div>
</form>

{{> comments post.comments}}

<script src="/javascript/delete-post.js"></script>
<script src="/javascript/edit-post.js"></script>
<script src="/javascript/comment.js"></script>