{{> post-info post}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body" class="form-control col-4 mt-3 mb-3" placeholder="write comment here"></textarea>
  </div>
<div>
    <button type="submit" class="btn btn-outline-secondary btn-light mb-3">Add Comment</button>
    
</div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>

{{/if}}
